
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
/* custom styles */
/* general  */
.flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.align-center {
    align-content: center;
}
.container {
    width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}
.body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'open sans',sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'open sans';
    font-weight: 400;
}
h1 {
    text-align: center;
    font-size: 36px;
    color: rgb(116, 7, 7);
    margin: 32px;
    text-transform: capitalize;
}
.bg-img {
    background:url('../media/background-image.jpg')50% 24% no-repeat;
    background-size: cover;
}
.box {
    width: 350px;
    height: 200px;
    background: crimson;
    border-radius: 6px;
    margin-right: 24px;
}
.two {
    background: linear-gradient( to right ,black,crimson);
}
.three {
    background: radial-gradient(crimson,black);
}
.four {
    /* background: linear-gradient(to left, orange,yellow); */
}
h2 {
    /* text-align: center; */
    text-transform: capitalize;
    color: black;
    margin: 25% 43%;
    font-size: 22px;
    font-weight: 700;
}
.four {
    /* background: url('../media/image2.jpg'),linear-gradient(right to left rgba(197, 143, 73, 0.5),rgba(199, 100, 8, 0.5)); */
    width: 600px;
    background: url("../media/image2.jpg")50% 2px no-repeat;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),url('../media/image2.jpg'));
    background-size: cover;
    height: 340px;
    margin-top: 34px;
    margin-left: 320px;
    margin-bottom: 82px;
}
